/*
input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset; }
*/
.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #fff;
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
}
.ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 5px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 5px;
}
.ui-widget-header {
    border: 1px solid #4297d7;
    background: #5c9ccc url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}
.ui-progressbar {
    position: relative;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 5px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 5px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 5px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 5px;
}
.ui-widget-content {
    border: 1px solid #a6c9e2;
    background: #fcfdfd url("images/ui-bg_inset-hard_100_fcfdfd_1x100.png") 50% bottom repeat-x;
    color: #222222;
}
.ui-widget {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-progressbar {
    height: 2em;
    text-align: left;
    overflow: hidden;
}